.card-discussions{
    :not(:last-child){
        margin-bottom: 16px ;
    }
}


.card-discussions-show-avatar-wrapper {
    height: 32px ;
    width: 32px;
}

.card-delete-discussion-btn{
    position: relative;
    top: -1px;
    color: gray;

    &:hover{
        color: $blue-600;
    }
}
